In [1]:
# 前期准备：
import numpy as np
import pandas as pd
from AnalysisFuncs import *
from platform import system
from IPython.display import display, HTML
from IPython.core import display as di
from matplotlib import pyplot as plt
%matplotlib inline

# 1、基础设置：
# （1）设置作图尺寸大小：
plt.rcParams['figure.dpi'] = 100
# （2）设置导出HTML时是否隐藏代码：
hide_code = True  # 设置是否隐藏代码。
if hide_code:
    di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)
    CSS = """#notebook div.output_subarea {max-width:100%;}""" #changes output_subarea width to 100% (from 100% - 14ex)
    HTML('<style>{}</style>'.format(CSS))

# 2、问题解决：
# （1）解决matplotlib作图时中文乱码问题：
sysName = system()
if sysName == 'Windows':
    plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
    plt.rcParams['axes.unicode_minus']=False #用来正常显示负号
elif sysName == 'Darwin':
    plt.rcParams['font.sans-serif']=['Arial Unicode MS']
    plt.rcParams['axes.unicode_minus'] = False #解决保存图像是负号'-'显示为方块的问题



# 数据读入：
filePath =r'Data/2013数据录入.csv'
df = pd.read_csv(filePath, na_values=' ', dtype='float64')

# <center>2013年血糖数据整理结果</center>

## 一、单一变量数据统计：

### （一）三点、空腹、睡前血糖平均值：

In [2]:
dfMean = GetAggregation(df, colKeys=['三点', '空腹', '睡前'], aggfunc='mean')
dfMean

    三点血糖平均值 空腹血糖平均值 睡前血糖平均值
V1     6.67    8.10    9.86
V2     7.38    7.28    9.09
V3     7.17    7.03    9.31
V4     7.24    6.89    8.84
V5     6.94    6.71    9.03
V6     7.03    6.80    8.81
V7     6.94    6.75    8.58
V8     6.70    6.70    8.49
V9     6.52    6.58    8.30
V10    7.10    6.77    8.18
V11    6.66    6.76    8.58
V12    6.70    6.73    8.71
V13    6.55    6.37    7.95
V14    6.95    6.30    8.29
V15    6.28    6.71    8.48
V16    6.76    6.56    8.12
V17    6.55    7.43    9.26
V18    7.50    8.42    9.26
总计     6.92    6.81    8.81

### （二）所有三点血糖低于5的数量和占比：

In [3]:
df3AM0to5 = GetRates(df, colKey='三点', low=0, high=5)
df3AM0to5

       0.0≤三点<5.0  三点总记录  占比（%）
V1三点            1      3  33.33
V2三点            6     96   6.25
V3三点            8     97   8.25
V4三点            6     95   6.32
V5三点            3     97   3.09
V6三点            2     96   2.08
V7三点            8     87   9.20
V8三点           10     84  11.90
V9三点           10     72  13.89
V10三点           7     65  10.77
V11三点           8     64  12.50
V12三点           8     52  15.38
V13三点           5     49  10.20
V14三点           3     45   6.67
V15三点           7     38  18.42
V16三点           2     26   7.69
V17三点           4     20  20.00
V18三点           2     13  15.38
总计            100   1099   9.10

### （三）所有睡前血糖低于5的数量和占比：

In [4]:
dfBeforeSleep0to5 = GetRates(df, colKey='睡前' , low=0, high=5)
dfBeforeSleep0to5

       0.0≤睡前<5.0  睡前总记录 占比（%）
V1睡前            2    102  1.96
V2睡前            2     97  2.06
V3睡前            2     95  2.11
V4睡前            4     97  4.12
V5睡前            5     94  5.32
V6睡前            2     88  2.27
V7睡前            3     89  3.37
V8睡前            1     75  1.33
V9睡前            3     66  4.55
V10睡前           1     61  1.64
V11睡前           1     54  1.85
V12睡前           3     50  6.00
V13睡前           2     47  4.26
V14睡前           1     40  2.50
V15睡前           2     29  6.90
V16睡前           1     20  5.00
V17睡前           0     10  0.00
V18睡前           0      9  0.00
总计             35   1123  3.12

### （四）所有睡前血糖在5到7之间的数量和占比：

In [5]:
dfBeforeSleep5to7 = GetRates(df, colKey='睡前' , low=5, high=7)
dfBeforeSleep5to7

       5.0≤睡前<7.0  睡前总记录  占比（%）
V1睡前           20    102  19.61
V2睡前           18     97  18.56
V3睡前           22     95  23.16
V4睡前           31     97  31.96
V5睡前           23     94  24.47
V6睡前           14     88  15.91
V7睡前           23     89  25.84
V8睡前           24     75  32.00
V9睡前           20     66  30.30
V10睡前          21     61  34.43
V11睡前          11     54  20.37
V12睡前           9     50  18.00
V13睡前          16     47  34.04
V14睡前           8     40  20.00
V15睡前           4     29  13.79
V16睡前           6     20  30.00
V17睡前           1     10  10.00
V18睡前           2      9  22.22
总计            273   1123  24.31

### （五）所有空腹血糖小于5的数量和占比：

In [6]:
dfBeforeMeal0to5 = GetRates(df, colKey='空腹' , low=0, high=5)
dfBeforeMeal0to5

       0.0≤空腹<5.0  空腹总记录  占比（%）
V1空腹            0      8   0.00
V2空腹            7    101   6.93
V3空腹            5    100   5.00
V4空腹            6     99   6.06
V5空腹            8    100   8.00
V6空腹            5     97   5.15
V7空腹            4     91   4.40
V8空腹            5     93   5.38
V9空腹            4     83   4.82
V10空腹           4     73   5.48
V11空腹           0     67   0.00
V12空腹           4     60   6.67
V13空腹           3     53   5.66
V14空腹           4     50   8.00
V15空腹           1     43   2.33
V16空腹           3     30  10.00
V17空腹           0     20   0.00
V18空腹           1     13   7.69
总计             64   1181   5.42

## 二、分组对比研究：

  设每晚睡前至次日晚餐后的时间段为一组，共17个组。

### (一) 睡前血糖介于[0.0, 5.0)对三点血糖的影响数据：

In [7]:
dfRelative3AM = GetRelativeRate(df, xlow=0, xhigh=5, ylow=0, yhigh=5, groupKey='三点')
dfRelative3AM

      0.0≤三点血糖<5.0  同时0.0≤睡前血糖<5.0  占比（%）
第01组             6               0   0.00
第02组             8               0   0.00
第03组             6               0   0.00
第04组             3               0   0.00
第05组             2               0   0.00
第06组             8               2  25.00
第07组            10               0   0.00
第08组            10               0   0.00
第09组             7               0   0.00
第10组             8               0   0.00
第11组             8               1  12.50
第12组             5               0   0.00
第13组             3               1  33.33
第14组             7               0   0.00
第15组             2               0   0.00
第16组             4               0   0.00
第17组             2               0   0.00
总计              99               4   4.04

### (二) 睡前血糖介于[5.0, 7.0)对空腹值介于[0.0, 7.0)的影响

In [8]:
dfRelativeBeforeMeal = GetRelativeRate(df, xlow=5, xhigh=7, ylow=0, yhigh=7, groupKey='空腹')
dfRelativeBeforeMeal

      0.0≤空腹血糖<7.0  同时5.0≤睡前血糖<7.0  占比（%）
第01组            54              16  29.63
第02组            56              14  25.00
第03组            62              17  27.42
第04组            65              20  30.77
第05组            65              17  26.15
第06组            62              13  20.97
第07组            60              19  31.67
第08组            54              16  29.63
第09组            43              13  30.23
第10组            44              12  27.27
第11组            40               9  22.50
第12组            40               6  15.00
第13组            34              13  38.24
第14组            27               4  14.81
第15组            19               2  10.53
第16组            11               5  45.45
第17组             4               0   0.00
总计             740             196  26.49

### (三)睡前血糖小于5时，三点和空腹血糖的平均值

In [9]:
GetRelativeMean(df, 0, 5, groups=['三点', '空腹'])

      0.0≤睡前血糖<5.0数量 三点血糖平均值 空腹血糖平均值
第01组               2    5.45    7.75
第02组               2    7.30    5.60
第03组               2    6.80    6.15
第04组               4    7.00    6.63
第05组               5    7.92    7.98
第06组               2    4.85    4.80
第07组               3    6.17    5.40
第08组               1    6.20    4.00
第09组               3    7.37    5.20
第10组               1    5.10    5.50
第11组               1    4.00    5.40
第12组               3    5.65    5.40
第13组               2    9.65    7.00
第14组               1       -    6.30
第15组               2    9.40    4.70
第16组               1    7.00    6.00
第17组               0       -       -
总计                35    6.84    6.13

### (四)睡前血糖介于[5.0, 7.0)时，三点和空腹血糖的平均值

In [10]:
GetRelativeMean(df, 5, 7, groups=['三点', '空腹'])

      5.0≤睡前血糖<7.0数量 三点血糖平均值 空腹血糖平均值
第01组              20    5.76    5.93
第02组              18    6.16    5.94
第03组              22    6.20    5.81
第04组              31    6.50    6.17
第05组              23    6.59    6.60
第06组              14    5.63    6.09
第07组              23    5.65    5.92
第08组              24    6.53    6.50
第09组              20    6.26    6.40
第10组              21    6.21    6.45
第11组              11    5.98    6.58
第12组               9    5.91    6.41
第13组              16    6.45    6.01
第14组               8    6.03    6.67
第15组               4    7.63    6.58
第16组               6    6.10    7.10
第17组               1    5.00   14.50
总计               271    6.19    6.28

### (五)睡前血糖大于7.0时，三点和空腹血糖的平均值

In [11]:
GetRelativeMean(df, 7, np.inf, groups=['三点', '空腹'])

      7.0≤睡前血糖<+♾数量 三点血糖平均值 空腹血糖平均值
第01组             80    7.88    7.55
第02组             77    7.31    7.25
第03组             71    7.51    7.23
第04组             62    7.18    6.95
第05组             66    7.07    6.78
第06组             72    7.27    6.98
第07组             63    7.10    7.08
第08组             50    6.54    6.69
第09组             43    7.54    7.14
第10组             39    6.95    7.17
第11组             42    6.99    6.93
第12组             38    6.69    6.46
第13组             29    6.95    6.39
第14组             31    6.32    6.79
第15组             23    6.53    6.69
第16组             13    6.65    7.72
第17组              9    7.83    7.89
总计              808    7.16    7.03